*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: aliceblue;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: white;
    width: 500px;
    padding: 30px;
    box-shadow: 0 0 10px #0000001a;
    border-radius: 1em;
}
.form-active{
    display: block;
}
.form-hidden{
    display: none;
}
.error{
    color: red;
    font-size: 0.9em;
    margin-top: 0.4em;
}
.message{
    color: green;
    font-size: 1.2em;
    font-weight: bold;
    margin:0 0 1em 0;
    text-align: center;
}
h3{
    text-align: center;
    margin-bottom: 1em;
}
.input-group{
    display: flex;
    flex-direction: column;
    gap: 0.4em;
    margin: 1em 0;
    cursor: pointer;
}
.input-group input{
    width: 100%;
    padding: 1em 2em;
    border-radius: 8px;
    border: 1px solid lightgray;
}
.btn{
    width: 100%;
    background-color: blueviolet;
    color: white;
    border: none;
    padding: 1em 2em;
    border-radius: 8px;
    margin-bottom: 1em;
    cursor: pointer;
}
.alreadyAccount{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
}
.alreadyAccount a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    cursor: pointer;
}
.alreadyAccount a:hover{
    text-decoration: underline;
    color: blueviolet;
}